:root {
	--clr-light-200: #f6f6f6;
	--clr-neutral-400: #1db954;
	--clr-dark-900: #191414;
}

@font-face {
	font-display: swap;
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 500;
	src: url('./assets/plus-jakarta-sans-v8-latin-500.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 800;
	src: url('./assets/plus-jakarta-sans-v8-latin-800.woff2') format('woff2');
}

/*  Edited version of CSS reset by Andy Bell */
/*  https://piccalil.li/blog/a-modern-css-reset/ */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html:focus-within {
	scroll-behavior: smooth;
}

html,
body {
	min-height: 100%;
}

body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* general */
body,
#root,
.content {
	min-height: 100vh;
}

body {
	background-color: var(--clr-dark-900);
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	padding: 1rem;
}

.timer {
	color: var(--clr-light-200);
	font-weight: 800;
	font-size: clamp(1rem, 1rem + 8vw, 6rem);
}

.button-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	padding-top: 1rem;
}

.btn {
	padding: 1rem;
	border-radius: 3rem;
	font-size: clamp(1rem, 0.5rem + 2vw, 1.5rem);
	font-weight: 500;
}
.start-btn {
	background-color: var(--clr-neutral-400);
}
.reset-btn {
	background-color: var(--clr-light-200);
}
